.container-fluid{/* 브라우져창 줄여도 내용 깨지지 않게 */
    width: 1800px;
    max-width: none !important;
}

.section1{margin:0px auto; padding-top:100px; height: 650px;}
    #sc1Title{font-size:60px;}
    #sc1Contents{}
    #sc1Btn{width:250px; height: 50px}
    #sc1Img{margin-left:200px}

.section2{height:177px;}
    .sc2contents{margin-top:-15px;}

.section3{height: 850px}
    #sc3Title{margin-left:220px; margin-top:100px}
    #sc3Contents{margin-left:220px; margin-top:50px}
    .sc3Contents2{color:gray; font-size:14px}
    .sc3Contents3{font-size:16px; margin-top:20px}
    .card-title{font-weight: bold;}

.section4{height: 150px;margin-top:100px; background: linear-gradient( to right, #8adfe1, #07a2bf );}
    #sc4contents{margin :65px auto; }
    #sc4Btn{width: 139px; height: 40px;}

.section5{height: 850px}
    #sc5Title{margin-left:220px; margin-top:100px}
    #sc5Contents{margin-left:220px; margin-top:10px}
    .sc5List{margin-left:100px}
    .lm{color:black;font-size:20px;font-weight: lighter;}
    .lm2{color:black;font-weight: bold;}
    .sc5Card{width:1086px; height:450px; margin-left:50px; margin-top:40px}
    .cardContents1{padding-left:24px}
    .cardContents2{font-size:20px; padding-left:24px}
    .cardContents3{font-size:13px}
    .card-footer{height: 60px}
    .ftindicator1{font-size:13px}
    .ftindicator2{font-size:16px}

.section6{height: 600px}
    #sc6Title{margin-left:220px; margin-top:100px}
    #sc6Contents{margin-left:220px; margin-top:0px}
    .sc6ContentsFont{font-size:20px}

.section7{height: 650px}
    #sc7Title{margin-left:220px; margin-top:100px}
    #sc7Contents{margin-top:0; height: 350px}
    #sc7Contents2{margin-left:220px;}
    .sc7Card{width: 248px; height: 300px}
    .sc7Img{width: 220px}
    #sc7Review{margin-top:-50px}
    #sc7ReviewContents{margin-left:220px}
    #sc7ReviewFont1{font-size:14px}
    #sc7ReviewFont2{font-size:21px}
    #sc7ReviewBtn{width: 108px; height: 45px; margin-left:500px}

.section8{height: 700px}
    #sc8Title{margin-left:220px; margin-top:100px}

.section9{height: 315px}
    #sc9Contents{margin-top:100px}
    #sc9Btn{margin-top:30px; width:285px; height: 58px}


.margin-algin-center{
    margin:0 auto;
}


.workbtn{
    size:50px;
    background:#e7e7e7;
}
.quest{
    height: 233px;
}
