<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
    <!-- 데이터입력 -->
    <insert id="insertMember" statementType="PREPARED" parameterType="wishket.spring.mvc.vo.MemberVO">
        insert into 회원 (userid, email, passwd) values (#{userid},#{email},#{passwd})
    </insert>
    <!-- 아이디 중복조회-->
    <select id="selectUserid" statementType="PREPARED" parameterType="String" resultType="int">
        select count(userid) cnt from 회원 where userid = #{userid}
    </select>
    <!-- 이메일 중복조회-->
    <select id="selectEmail" statementType="PREPARED" parameterType="String" resultType="int">
        select count(email) cnt from 회원 where email =#{email}
    </select>
    <!-- 로그인 할때 아이디/비밀번호 확인 -->
    <select id="checkLogin" statementType="PREPARED" parameterType="wishket.spring.mvc.vo.MemberVO" resultType="int">
        select count(userid) cnt from 회원 where userid = #{userid} and passwd=#{passwd} and user_key = 'Y'
    </select>

    <!--이메일인증완료로 업데이트-->
    <update id="confirmUser" statementType="PREPARED" parameterType="wishket.spring.mvc.vo.MemberVO">
        update 회원 set user_key = 'Y' where email=#{email} and user_key=#{confirmCode}
    </update>

    <!--회원가입성공시 이메일 인증코드 DB에 업데이트-->
    <update id="updateCode" statementType="PREPARED" parameterType="wishket.spring.mvc.vo.MemberVO">
        update 회원 set user_key = ${confirmCode} where email=#{email}
    </update>

    <select id="selectMember" statementType="PREPARED" parameterType="String" resultType="wishket.spring.mvc.vo.MemberVO">
        select mno, email, regdate from 회원 where userid = #{userid}
    </select>

</mapper>